.autoCompletion{
	position:fixed;
	display: none;
	background: #FFCC00;
	color:white;
	margin-top:30px;
	width:200px;
	overflow-y: auto;
	border: 1px solid #000;
	border-radius: 5px;
	z-index:1000;
	padding : 0px;
	max-height:80%;
}

.autoCompletion:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 5px 5px;
	border-color: #222 transparent;
	display: block;
	width: 5px;
	z-index: 1001;
	top: -5px;
	left: 20px;
}

.autoCompletion ul{
	margin:5px;
	padding:0;
	line-height:1.8em;
	list-style-type:none;

}
.autoCompletion>ul>li{
	width:100%;
}
.autoCompletionTextBox{
	width:200px;
}

.autoCompletion li:hover{
	background: #333;
	
}

.autoCompletion li.selected{
	background:#333;
}


/* For Large screen devices only */
@media only screen and (min-width: 55em) {
    .autoCompletion{
	opacity: 0.8;
	right:10px;
    }
}

/* For small screen devices only */
@media only screen and (max-width: 55em) {
    .autoCompletion{
	left:10px;
	margin-top:5px;
    }
}