html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}


.map {
    position:relative;
    height: 94%;
    width: 100%;
}

header{
    position:relative;
    background: #FFCC00;
    padding:2px;
    min-width:300px;
}

header>h1{
    padding:0;
    margin:0;
    display:inline-block;
    font-variant: small-caps;
}
header>nav{
    position:relative;
    clear:both;
    padding:0;
    margin:0;
    display:inline-block;
    
}
header input[type="search"]{
        position:relative;
        padding-top:2px;
        padding-bottom: 2px;
        line-height: 1.5em;
        margin:auto;
        border-radius:10px 0px 0px 10px;
        width:100px;
        padding-left:5px;
        transition: all ease 0.5s; /*leaving focus transition*/
    }

header input[type="search"]:focus{
    width:200px;
    transition: all ease 0.5s;
}
    
#main-menu{
    clear: both;
    position:relative;
    display:block;
    padding: 0;
    margin:auto;
}

header>nav>div#main-menu>ul{
    position:relative;
    display: inline-block;
    list-style: none;
    padding:0;
    margin:auto;
    top:0;
}
header>nav>div#main-menu>ul>li{
    top:0;
    background-color: #E6C12E;
    display: inline-block;
    position:relative;
    visibility: inherit;
    border-radius: 3px 3px 3px 3px;
    border-bottom: none;
    line-height: 1.5em;
    padding:2px;
}
header>nav>div#main-menu>ul>li:hover{
    background-color: #FFD633;
}

header input[type="search"]{
    position:relative;
    float:right;
    right:0px;
    line-height: 1.5em;
}
#main-menu li a {
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bolder;
}
#main-menu li a, #main-menu li a:visited {
    color: white;
}

.cbmp-button{
    position:absolute;
    top:80px;
    left:8px;
}

article{
    margin: 30px;
    padding: 15px;
    border-radius: 10px;
    font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
    border: 1px lightgrey dotted;
}
form{
    padding:0px 20px 0px 10px;
    overflow: auto;
}
form > textarea {
    width:100%;
}
form > input{
    width:100%;
}
form > select {
   width: 100%;
   margin:0;
}
.nav-open,
.nav-close {
	display: none;
	color: #FFD633;
	font-size: 1.2em;
	font-weight: 400;
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 50px;
	letter-spacing: 1px;
	background: #060608;
        width: 100%;
	}
/* For small screen devices*/
@media only screen and (max-width: 55em) {
    header>nav{
        width:100%;
    }
    .map{
        height: 82%;
    }
    .nav-open {
	display: block;
	text-align: center;
    }
    #main-navigation:target > .nav-open {
        display: none;
        background-color: #F00;
    }
    #main-navigation:target > .nav-close {
	display: block;
	text-align: center;
    }
    
    #main-menu{
        display:none;
        width:100%;
        position: relative;
        text-align: left;
    }
    #main-navigation:target > #main-menu {
        display:block;
    }
    
    #main-navigation > #main-menu > ul > li {
        float: none;
        display: block;
        z-index:1000000;
        text-align: center;
        position: relative;
    }
    
    #main-navigation > #main-menu>ul{
        display:block;
        position:absolute;
        width:100%;
    }
    header input[type="search"]{
        position:relative;
        padding-top:2px;
        padding-bottom: 2px;
        line-height: 1.5em;
        margin:auto;
        width:99%;
    }

}