/* CSS Document */

/*testPopInside.css*/

.insideWindow{
  display:none;
  z-index:1000;
  position:absolute;
  left:250px;
  margin:auto;
  top:100px;
  margin-top:10px;
  padding-bottom:4px;
  min-height:50px;
  background-color:#88F;
  width:300px;
  -moz-border-radius:10px 10px 5px 5px;
  -moz-box-shadow:0px 2px 10px 2px #A66;
  box-shadow:0px 2px 10px 2px #A66;
  border-radius:10px 10px 5px 5px;
}

.insideWindowTitle{
  position:relative;
  padding-left:10px;
  padding-right:20px;
  height:25px;
  top:-1px;
  width:290px;
  left:0px;
  right:0px;
  font-variant:small-caps;
  font-size:1.2em;  
  
  -moz-border-radius:10px 10px 0px 0px;
  border-radius:10px 10px 0px 0px;
}
.insideWindowContent{
  position:relative;
  margin-top:10px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  max-height:200px;
  border:black solid 1px;
  background-color:white;
  overflow-y : scroll;
}

.insideWindowCloser{
  position:absolute;
  margin-right:10px;
  right:0px;
  top:0px;
  height:20px;
  width:16px;
  text-align:center;
  color:white;
  background-color:red;
  -moz-border-radius:0px 0px 3px 3px;
  border-radius:0px 0px 3px 3px;  
}

.insideWindowCloser:hover{
  cursor:pointer;
  background-color:#F33;
}
